[alias]
a = add
aa = add -A
aaca = !git add -A && git commit --amend
ac = !git add -A && git commit -m
aacm = !git add -A && git commit -m
b = branch
bd = branch -d
bdf = branch -d -f
bm = branch -m
cl = clean
cln = clean -n
clfd = clean -fd # untracked files and directories
clfdx = clean -fdx # untracked files, directories, and ignored files
co = checkout
co-d = checkout develop
co-m = checkout master
cob = checkout -b
cm = commit
cma = commit -amend
cmm = commit -m
f = fetch
fo = fetch origin
fo-d = fetch origin develop
fo-m = fetch origin master
frb-d = !git fetch origin develop && git rebase origin/develop
frb-m = !git fetch origin master && git rebase origin/master
# gc = gc
l = log
lg = log --graph --pretty='%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
m = merge
pl = pull
p = push
pf = push --force
p-oh = push -u origin HEAD
rb = rebase -i
rb-h10 = rebase -i HEAD~10
rb-h50 = rebase -i HEAD~50
rba = rebase --abort
rbc = rebase --continue
rf = reflog
rs = reset
rsh = reset --hard
rsh-d = !git fetch origin develop && git reset --hard origin/develop
rsh-m = !git fetch origin master && git reset --hard origin/master
rp-h = rev-parse HEAD # show full git hash
st = status
s = status
ss = stash
ssl = stash list
sss = stash show
ssp = stash pop
ssa = stash apply
ssplssp = !git stash && !git pull && git stash pop

[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process

[user]
	email = andrewliustudio@gmail.com
	name = Andrew Liu

[sequence]
	editor = rebase-editor
